.container__sobreNós {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_geral_sobreNos {
  display: flex;
  flex-direction: column;
}
.sobreNós-container {
  width: 50%;
  text-align: center;
  padding: 4em 0;
}
.container__texto-sobreNós {
  font-weight: 600;
  color: var(--vermelho);
}
.container__titulo-sobreNós {
  font-size: 48px;
  font-weight: 600;
  padding: 1em 0;
}
.container__texto {
  font-size: 20px;
  color: var(--cinza-claro);
  flex-wrap: wrap;
}
.container__sobreNós-detalhes {
  width: 280px;
  padding: 2em 2em;
  margin: 2em 0;
}
.container__valor {
  font-size: 60px;
  font-weight: 600;
  color: var(--vermelho);
}
.container__titulo-detalhes {
  font-size: 18px;
  font-weight: 500;
  color: var(--preto);
  margin: 1em 0;
}
.container__texto-detalhes {
  color: var(--cinza-claro);
}

/* Media queries para telas menores */
@media (max-width: 768px) {
  .sobreNós-container {
    width: 70%;
    padding: 2em 0;
  }
  .container__titulo-sobreNós {
    font-size: 36px;
  }
  .container__texto {
    font-size: 16px;
  }
  .container__sobreNós-detalhes {
    width: 220px;
    padding: 1.5em 1.5em;
  }
  .container__valor {
    font-size: 40px;
  }
  .container__titulo-detalhes {
    font-size: 14px;
  }
  .container__sobreNós{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .container__sobreNós{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sobreNós-container {
    width: 90%;
    padding: 1em 0;
  }
  .container__titulo-sobreNós {
    font-size: 24px;
  }
  .container__texto {
    font-size: 12px;
  }
  .container__sobreNós-detalhes {
    width: 180px;
    padding: 1em 1em;
  }
  .container__valor {
    font-size: 30px;
  }
  .container__titulo-detalhes {
    font-size: 12px;
  }
}

/* Media query para telas de tamanho 375px */
@media (max-width: 375px) {
  .container__sobreNós{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sobreNós-container {
    width: 95%;
    padding: 0.5em 0;
  }
  .container__titulo-sobreNós {
    font-size: 20px;
    padding: 0.5em 0;
  }
  .container__texto {
    font-size: 12px;
  }
  .container__sobreNós-detalhes {
    width: 160px;
    padding: 0.5em;
    margin: 1em 0;
  }
  .container__valor {
    font-size: 24px;
  }
  .container__titulo-detalhes {
    font-size: 10px;
  }
}
